### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [58]:
import pandas as pd
data_file = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
player_count = data_file_df["Purchase ID"].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
unique = data_file_df["Item Name"].value_counts()
print(unique.head())
average = data_file_df["Price"].mean()
print(average)
total  = data_file_df["Price"].sum()
print(total)

print("There are 179 unique items sold")
print("The average price for each item is $3.05")
print("Total sales: $2379.77")

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64
3.050987179487176
2379.77
There are 179 unique items sold
The average price for each item is $3.05
Total sales: $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [3]:
gender_df = data_file_df["Gender"].value_counts()
print(gender_df)
totalchoices = 3
male = gender_df[0]
female = gender_df[1]
un = gender_df[2]
maxpercent = (male+female+un)
percentage_m = (male/maxpercent)*100
percentage_f = (female/maxpercent)*100
percentage_un = (un/maxpercent)*100

print("Percentage male: ",round(percentage_m),"%")
print("Percentage female: ",round(percentage_f),"%")
print("Percentage female: ",round(percentage_un),"%")

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Percentage male:  84 %
Percentage female:  14 %
Percentage female:  2 %


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
gender_pay_df = data_file_df["Gender"].value_counts()
gender_avg_per_person = data_file_df["SN"].unique()
totalPurchaces = gender_pay_df.sum()
count = 0
FPurchases = 0
MPurchases = 0
NDPurchases = 0
for row in range(0,totalPurchaces):
    if data_file_df["Gender"][row] == "Male":
        MPurchases += data_file_df["Price"][row]*100
    if data_file_df["Gender"][row] == "Female":
        FPurchases += data_file_df["Price"][row]*100
    if data_file_df["Gender"][row] == "Other / Non-Disclosed":
        NDPurchases += data_file_df["Price"][row]*100
gender_total_price = [MPurchases/100,FPurchases/100,NDPurchases/100]
gender_avg_price_df = gender_total_price/gender_pay_df
gender_avg_pay_df = data_file_df["Price"].median()
#print(gender_avg_price_df)
#print(gender_avg_pay_df)
gender_pay_pd = pd.DataFrame({
    "Purchases":gender_pay_df[0:3],
    "Avg. Purchases": gender_avg_price_df[0:3],
    "Total":gender_total_price[0:3]
})
gender_pay_pd

                       Purchases  Avg. Purchases    Total
Male                         652        3.017853  1967.64
Female                       113        3.203009   361.94
Other / Non-Disclosed         15        3.346000    50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [75]:
data_age = data_file_df["Age"].value_counts()
total_age_purcahces = data_age.sum()
count = 0
YPurchases = 0
TPurchases = 0
for cell in range(0,total_age_purcahces):
    if data_file_df["Age"][cell] >= 12:
        YPurchases +1
    if data_file_df["Age"][cell] <= 13:
        TPurchases +1
avg_age_df = data_file_df["Age"].value_counts()
data_age_pd = pd.DataFrame({
    "Ages": avg_age_df[0:2]
})
data_age_pd

    Ages
20    99
22    70

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
data_age = data_file_df["Age"].value_counts()
total_age_purcahces = data_age.sum()
purchaces = data_file_df["Price"].sum()
count = 0
YPurchases = 0
TPurchases = 0
for cell in range(0,total_age_purcahces):
    if data_file_df["Age"][cell] >= 12:
        YPurchases +1
    if data_file_df["Age"][cell] <= 13:
        TPurchases +1
avg_age_df = data_file_df["Age"].value_counts()
data_age_pd = pd.DataFrame({
    "Ages": avg_age_df[0:2],
    "Prices": purchaces
})
data_age_pd

    Ages   Prices
20    99  2379.77
22    70  2379.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
big_spender_count = data_file_df["SN"].value_counts()
big_spender_money = data_file_df["Price"].sum()
big_spender_pd = pd.DataFrame({
"Name": big_spender_count,
"Money": big_spender_money
})
big_spender_pd.head()

             Name    Money
Lisosia93       5  2379.77
Idastidru52     4  2379.77
Iral74          4  2379.77
Ilarin91        3  2379.77
Iskadarya95     3  2379.77

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
best_thing_price = data_file_df["Price"].value_counts()
best_thing_name = data_file_df["Item Name"].value_counts()
unique = data_file_df[["Item ID","Item Name","Price",]].value_counts()

print(unique.head())

Item ID  Item Name                                     Price
178      Oathbreaker, Last Hope of the Breaking Storm  4.23     12
145      Fiery Glass Crusader                          4.58      9
82       Nirvana                                       4.90      9
108      Extraction, Quickblade Of Trembling Hands     3.53      9
34       Retribution Axe                               2.22      8
dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [52]:
best_thing_price = data_file_df["Price"].value_counts()
best_thing_name = data_file_df["Item Name"].value_counts()
unique = data_file_df[["Item ID","Item Name","Price"]].value_counts()
price_data = data_file_df.sort_values(["Price"],ascending = False)

#print(unique.head())
price_data.head()

     Item ID                Item Name  Price
554       63           Stormfury Mace   4.99
189       63           Stormfury Mace   4.99
110      139  Mercy, Katana of Dismay   4.94
246      139  Mercy, Katana of Dismay   4.94
493      139  Mercy, Katana of Dismay   4.94